# LiveAvatar
LIVEAVATAR_API_KEY=your_liveavatar_api_key_here
LIVEAVATAR_AVATAR_ID=your_avatar_id_here

# ElevenLabs
ELEVENLABS_API_KEY=sk_e61853d9dab29ca137fee5b41905cfd3fde3d46cee48e0a0
ELEVENLABS_VOICE_ID=Dzi0zMYFUNQHcRtrSlAG

# AWS Bedrock (LLM)
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-6

# SQL Server DW_FZ
SQL_SERVER=192.168.50.38
SQL_INSTANCE=DW_FZ
SQL_USER=Datapros
SQL_PASSWORD=W169n3W7FzYn
SQL_DATABASE=

# Backend
BACKEND_PORT=8090
CORS_ORIGINS=*
